/* CUSTOM FONTS */
@font-face {
    font-family: 'funnel-display';
    src: url(../fonts/Funnel_Display/FunnelDisplay-VariableFont_wght.ttf);
  }

 body{
    font-family: 'funnel-display', sans-serif;
 } 

/* NAVIGATION STYLES */

nav {
    background: #FF5E5E;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav img {
    height: 90px;
    width: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul.nav-links {
    display: flex;
    gap: 20px;
}

nav#mobile-nav {
    display: none;
}

#mobile-menu {
    display: none;
    position: fixed;
    width: 280px;
    height: 100vh;
    background: #9c3030;
    padding: 20px;
    right: 0;
    transition: right .3s ease-in-out;
}

#hamburger.active {
    background: #ff0000;
}

@media (max-width: 768px) {
    nav {
        display: none;
    }

    nav#mobile-nav {
        display: flex;
    }

    #mobile-menu {
        display: block;
        right: -320px;
    }
    #mobile-menu.visible {
        right: 0px;
    }
}

.link{
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
}

/* IMAGE STYLES */
.img {
    max-width: 100%;
    width: auto;
}

.description {
    font-size: 1.8rem;
    color: #333;
    margin-top: 10px;
}

a {
    color: white;
}

/* PRELOADER STYLES */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid purple;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Add animation to "page content" */
  .animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
  }
  
  @keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
  }
  
  #myDiv {
    display: none;
    text-align: center;
  }